# Compiled Output
/dist
/node_modules
/build
*.js
!jest.config.js
!.eslintrc.js
*.d.ts

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# CDK asset staging directory
.cdk.staging
cdk.out

# OS
.DS_Store

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
/.awcache
/.vscode
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
/.devcontainer
*.code-workspace

# Vim
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]

# Bundle
packages/**/*.d.ts
packages/**/*.js

# Example
/quick-start
/example_dist
/example

# Tests
/benchmarks/memory
/coverage
/.nyc_output
/packages/graphql
build/config\.gypi

# DotEnv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Lock files
.npmrc
pnpm-lock.yaml
.serverless

# Confidential files
*.pem
*.pub
*_rsa

# Temp directories
.temp
.tmp

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Misc
lerna-debug.log
npm-debug.log
yarn-error.log
/**/npm-debug.log
/packages/**/.npmignore
/packages/**/LICENSE
*.tsbuildinfo
*.bak